<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>All Flights</a>
    <a href="/flights/new" <%- title === 'New Flight' ? 'class="active"' : '' %>>New Flight</a>
    <h3>Destination<br>Voyages</h3>
    <img src="/images/airplane.jpg">
  </nav>
  <main>
    <h1><%= title %></h1>